.signin__wrapper {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
.signin__form__wrapper {
	width: 25vw;
	border: 1px solid #ccc;
	margin: 1rem 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
.form,
.form__password {
	display: flex;
	flex-direction: column;
}

.form__password button,
.form button {
	margin: 1rem 0;
}
.form label, .form__password label {
	margin-bottom: 0.2rem;
	font-weight: bold;
}

.terms {
	margin: 1rem 0;
	font-size: 12px;
}
.terms a:hover {
	color: orange;
}
.need__help {
	font-size: 14px;
}
.need__help span:nth-child(1) {
	color: #ccc;
}
.need__help span:nth-child(2) {
	color: #007bff;
}
.need__help span:nth-child(2):hover {
	color: orange;
	text-decoration: underline;
	cursor: pointer;
}
.signin__header span {
	display: inline-block;
	background-image: url(../../assets/n-sprite.png);
	background-position: -5px -130px;
	height: 31px;
	width: 103px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}
.help__dropdown {
	list-style: none;
	padding-left: 1rem;
}
.help__dropdown li {
	margin: 0.2rem 0;
}
.new__account__btn__wrapper {
	width: 100%;
	text-align: center;
}
.new__account__btn__wrapper .new__text {
	width: 25vw;
	margin: 1.5rem auto;
	border-top: 1px solid #ccc;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new__account__btn__wrapper .new__link {
	padding: 0.51rem;
	width: 25vw;
	margin: 1.5rem auto;
	background: #ddd;
	border: 1px solid #777;
	border-radius: 4px;
}
.new__account__btn__wrapper .new__link a {
	color: #000;
}

.new__account__btn__wrapper .new__text span {
	position: absolute;
	background: #fff;
	padding: 0.2rem 0.4rem;
	color: #949393;
}
.divider__wrapper {
	width: 100%;
	height: 44px;
	margin-bottom: -18px;
	background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
	z-index: 0;
	zoom: 1;
}
.divider__wrapper:after {
	display: block;
	width: 100%;
	height: 44px;
	background-color: transparent;
	background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	z-index: 1;
	content: '';
}
.bottom__link ul {
	list-style: none;
	padding: 0;
}

.bottom__link li {
	display: inline-block;
	margin-left: 2rem;
}
.bottom__link li a {
	padding: 0.2rem;
}
.bottom__link li a:hover {
	color: orange;
}
.bottom__link li:first-child {
	margin: 0;
}
.new__account__btn__wrapper div {
	margin: 1rem 0;
}
.change__link {
	color: #007bff;
}
.change__link:hover {
	color: orange;
	text-decoration: underline;
	cursor: pointer;
}
